GROQ_API_KEY=gsk_...
SLM_EXTRACTION_MODEL=llama-3.1-8b-instant
LLM_RESPONSE_MODEL=llama-3.3-70b-versatile
MAX_EXPLORATION_DEPTH=8
GRAPH_DB_NODES_PATH=../db/nodes.json
GRAPH_DB_EDGES_PATH=../db/edges.json