.overlay {
  position: fixed;
  inset: 0;
  z-index: 20;
  pointer-events: auto;
  animation: overlay-fade 0.2s ease-out both;

  &--blur {
    background: var(--g-overlay);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes overlay-fade {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }

  to {
    opacity: 1;
    backdrop-filter: blur(6px);
  }
}
